<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Outback Industries Limited</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Outback Industries Limited</h1>

<h2>Brisbane, Australia.</h2>
</body>
<body>
<h1>Employee payroll</h1>

<button onclick="location.href = '../employees/all';" id="myButton" class="getAll" >Click for Employee Info</button>
<h1> </h1>
</body>
<body>
<h1>____________________________________________________________________________________</h1>
<h2>Check Employees by Dept.</h2>
<button onclick="location.href = '../employees/filter/Dept1';" id="myButton" class="getByDept" >Emp Dept1</button>
<button onclick="location.href = '../employees/filter/Dept2';" id="myButton" class="getByDept" >Emp Dept2</button>
<button onclick="location.href = '../employees/filter/Dept3';" id="myButton" class="getByDept" >Emp Dept3</button>
</body>
<body>
<h1>___________________________________________________________________________________</h1>

</body>
</html>